@model ForgotPassword

@section Css
{
    <link rel="stylesheet" href="/folder/css/form.css ">
}

<section class="section-center">
    <div class="form-container">
        <h3 class="section-title">Forgot Password</h3>
        <form asp-controller="Account" asp-action="ForgotPassword" method="POST" autocomplete="off">
            <div class="form-group">
                <label asp-for="Email" class="form-label-icon"><i class="far fa-envelope form-icon"></i></label>
                <input asp-for="Email" class="form-item" placeholder="Email" tabindex="1">
            </div>
            <div class="form-group">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="button button-medium button-theme flex-right" tabindex="2">Reset Password</button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <script src="/library/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/library/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}