@model LoginModel

@section Css
{
    <link rel="stylesheet" href="/folder/css/form.css">
    <link rel="stylesheet" href="/folder/css/result_message.css">
    <link rel="stylesheet" href="/folder/css/checkbox.css">
}

@if (TempData["message"] != null)
{
    <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
}

<section class="section-center">
    <div class="form-container">
        <h3 class="section-title">LOGIN</h3>
        <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="POST" autocomplete="off">
            <div class="form-group">
                <label asp-for="Email" class="form-label-icon"><i class="fas fa-user form-icon"></i></label>
                <input asp-for="Email" class="form-item" placeholder="Email" tabindex="1">
            </div>
            <div class="form-group">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="form-label-icon"><i class="fas fa-lock form-icon"></i></label>
                <input asp-for="Password" class="form-item" placeholder="Password" tabindex="2">
            </div>
            <div class="form-group">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-6-form">
                    <label asp-for="Remember" class="checkbox-label mb-10">
                        <input asp-for="Remember" type="checkbox" class="checkbox">
                        <span class="checkmark"></span>
                        <span class="label-text">Remember me</span>
                    </label>
                </div>
                <div class="col-6-form">
                    <div class="form-buttons">
                        <a asp-controller="Account" asp-action="ForgotPassword" class="button button-medium button-theme" tabindex="4">Forgot Password</a>
                        <button type="submit" class="button button-medium button-theme" tabindex="3">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    @if (TempData["message"] != null)
    {
        <script src="/folder/js/result_message.js"></script>
    }
    <script src="/library/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/library/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}