@model ResetPasswordModel

@section Css
{
    <link rel="stylesheet" href="/folder/css/form.css ">
}

<section class="section-center">
    <div class="form-container">
        <h3 class="section-title">Reset Password</h3>
        <form asp-controller="Account" asp-action="ResetPassword" method="POST" autocomplete="off">
            <input type="hidden" asp-for="Token">
            <input type="hidden" asp-for="Email">

            <div class="form-group">
                <label asp-for="Password" class="form-label-icon"><i class="fas fa-lock form-icon"></i></label>
                <input asp-for="Password" class="form-item" placeholder="New Password" tabindex="1">
            </div>
            <div class="form-group">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RePassword" class="form-label-icon"><i class="fas fa-lock form-icon"></i></label>
                <input asp-for="RePassword" class="form-item" placeholder="RePassword" tabindex="2">
            </div>
            <div class="form-group">
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="button button-medium button-theme flex-right" tabindex="3">Reset Password</button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <script src="/library/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/library/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}