@model UserCreateModel

@section Css
{
    <link rel="stylesheet" href="/folder/css/form.css">
    <link rel="stylesheet" href="/folder/css/confirm.css">
    <link rel="stylesheet" href="/folder/css/checkbox.css">
}

<div class="confirm-container">
    <div class="confirm-content">
        <p class="confirm-text">Are you sure you want to insert new user?</p>
        <button class="button button-medium button-danger mr-10" id="button-cancel">Cancel</button>
        <button class="button button-medium button-success" id="button-confirm">Yes</button>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section-container">
            <h3 class="section-title">Create User</h3>
            <form asp-controller="Admin" asp-action="UserCreate" method="POST" id="form-confirm" autocomplete="off">
                <div class="row">
                    <div class="col-9 mb-20">
                        <div class="form-group">
                            <label asp-for="FirstName" class="form-label-icon"><i class="fas fa-user form-icon"></i></label>
                            <input asp-for="FirstName" class="form-item" placeholder="First Name" tabindex="1">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName" class="form-label-icon"><i class="fas fa-user form-icon"></i></label>
                            <input asp-for="LastName" class="form-item" placeholder="Last Name" tabindex="2">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserName" class="form-label-icon"><i class="fas fa-user form-icon"></i></label>
                            <input asp-for="UserName" class="form-item" placeholder="User Name" tabindex="3">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="form-label-icon"><i class="fas fa-envelope form-icon"></i></label>
                            <input asp-for="Email" class="form-item" placeholder="Email" tabindex="4">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="form-label-icon"><i class="fas fa-lock form-icon"></i></label>
                            <input asp-for="Password" class="form-item" placeholder="Password" tabindex="5">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RePassword" class="form-label-icon"><i class="fas fa-lock form-icon"></i></label>
                            <input asp-for="RePassword" class="form-item" placeholder="Re-Password" tabindex="6">
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="button button-medium button-theme flex-right" id="button-form" tabindex="7">Create User</button>
                        </div>
                    </div>

                    <div class="col-3 flex-reverse">
                        <h3 class="form-title">Roles</h3>
                        @foreach (var roleName in ViewBag.Roles)
                        {
                            <label for="@roleName" class="checkbox-label mb-10">
                                <input name="selectedRoles" id="@roleName" type="checkbox" class="checkbox" value="@roleName">
                                <span class="checkmark"></span>
                                <span class="label-text">@roleName</span>
                            </label>
                        }

                        <hr class="hr-line mb-10">

                        <h3 class="form-title">Email Confirmed</h3>
                        <label asp-for="EmailConfirmed" class="checkbox-label">
                            <input asp-for="EmailConfirmed" type="checkbox" class="checkbox">
                            <span class="checkmark"></span>
                            <span class="label-text">Is Confirmed</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/folder/js/confirm.js"></script>
    <script src="/library/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/library/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}