@section Css
{
    <link rel="stylesheet" href="/folder/css/index.css">
    <link rel="stylesheet" href="/folder/css/reveal.css">
}

<section class="section-home">
    <div class="container">
        <div class="home-content">
            <h1 class="index-title home-title">SUP Web Design</h1>
            <p class="index-text home-text text-justify">SUP Web Design contains articles that explain to you the most basic web design topics and their intricacies. In addition, it explains the solutions to the problems you may encounter while designing the web in a simple and easy language.</p>
            <a asp-controller="Home" asp-action="Article" class="button button-medium button-theme">See the articles</a>
        </div>
    </div>
</section>

<section class="section-about">
    <div class="container">
        <div class="text-center reveal">
            <h2 class="index-title about-title">ABOUT SUP</h2>
            <p class="index-text about-text-title">Explore articles to see how you can increase your knowledge of web design in simple and easy language</p>
        </div>
        <div class="row-center">
            <div class="col-6 reveal">
                <p class="index-text about-text text-justify">I have been interested in web design for the last few years and I am improving myself on this subject every day. When I find time from my work, I write articles for "SUP Web Design" that I think may be useful for you. I hope it helps you learn something new or solve a problem you are encountering.</p>
            </div>
            <div class="col-6 text-center reveal">
                <img src="/folder/images/about.jpg" alt="about-image" class="img-fluid about-image">
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="/folder/js/reveal.js"></script>
}