<div class="section-container">
    <div class="text-center">
        <img src="/folder/images/user-image/admin-photo.png" alt="admin-photo" class="image-admin">
    </div>
    <div class="admin-informations">
        <h3 class="admin-info-title">Semih Polat</h3>
        <p class="admin-info-text text-muted">Full Stack Web Developer</p>
        <p class="admin-info-text"><a href="https://github.com/polatsemih" target="_blank" class="admin-info-social text-theme-secondary">github/polatsemih</a>
    </div>
</div>