<footer>
    <div class="copyright">
        <p class="text-copyright text-muted">&#169; 2021-2022 SUP | Designed by Semih POLAT</p>
        <p class="text-copyright">For your questions and offers, contact <a href="mailto:polatsemih@protonmail.com" class="text-theme-secondary">polatsemih@protonmail.com</a></p>
        <div class="button-scrollToTop">
            <i class="fas fa-angle-up footer-icon"></i>
        </div>
    </div>
</footer>
