<section class="section-center">
    <div class="container">
        <div class="alert text-center">
            <p class="alert-text text-danger">@ViewData["ErrorMessage"]</p>
        </div>
    </div>
</section>