<form asp-controller="Home" asp-action="ArticleSearch" method="GET" autocomplete="off">
    <div class="form-search">
        <label for="search" class="search-label"><i class="fas fa-search"></i></label>
        <input type="text" id="search" class="search-item" name="s" placeholder="Search Article">
        <button type="submit" class="button-search">Search</button>
    </div>
</form>