/* ARTICLE DETAIL SETTINGS */

.article-detail-text h1,
.article-detail-text h2,
.article-detail-text h3,
.article-detail-text h4 {
    color: var(--color-dark-primary);
    font-family: var(--family-primary);
    font-weight: 600;
    margin-bottom: 10px;
}

.article-detail-text p {
    color: var(--color-dark-primary);
    font-family: var(--family-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
    text-indent: 5px;
}

.comment-container {
    border-left: 3px solid #d3d3d3;
    border-bottom: 3px solid #d3d3d3;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.row-comment {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.comment-image {
    width: 80px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-comment-informations {
    color: var(--color-dark-primary);
    font-family: var(--family-primary);
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.comment-delete {
    position: absolute;
    right: 0;
}

.button-comment {
    border: none;
    background-color: var(--color-light-primary);
    cursor: pointer;
}

.comment-delete-icon {
    font-size: 25px;
    color: var(--color-theme-secondary);
}

.comment-text-container {
    margin-top: 20px;
    margin-left: 10px;
}

.comment-text {
    color: var(--color-dark-primary);
    font-family: var(--family-primary);
    font-size: 16px;
    font-weight: 400;
}

.reply {
    display: none;
}

.article-informations {
    background-color: var(--color-light-primary);
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.article-info {
    border-bottom: 1px solid #d1d1d1c2;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-info-text {
    color: var(--color-dark-primary);
    font-family: var(--family-primary);
    font-size: 16px;
    font-weight: 400;
}

.article-info:last-child {
    border-bottom: none;
}